@import url('manrope.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
}
body {
  font-size: 36px;
  font-family: Manrope-Extrabold;
  background: #eeeef6;
  padding: 0;
  margin: 0;
}

.navbar {
  padding: 5px 70px;
  display: flex;
  flex-basis: 0;
  align-items: center;
  background-color: #c5c5e7;
}
.navbar p {
  flex: 1;
  font-size: 3rem;
}
.navbar .option {
  flex: 1.5;
  display: flex;
  align-items: center;
  gap: 30px;
}
#gallery-list {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 50px 8px 20px;
  list-style-type: none;
  font-family:  Manrope-Light;
  font-size: 1.175rem;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: .1s;
}
#gallery-list a {
  margin: 20px;
  display: block;
  text-decoration: none;
  color: black;
}
.navbar button {
  font-size: 30px;
  font-family: Manrope-Light;
  border: none;
  background: none;
}
.navbar button:hover {
  cursor: pointer;
}
.navbar button:hover + box-icon {
  transform: rotate(180deg);
  transition: 0.2s;
}
.portfolio:hover #gallery-list {
  opacity: 1;
  pointer-events: all;
}
#gallery-list #sections:hover {
  color: #303092;
  text-decoration: underline;
}
#gallery-list #current {
  cursor: default;
  pointer-events: none;
  text-decoration: underline;
  font-weight: bold;
}
box-icon  {
  transition: 0.2s;
}
.navbar box-icon {
  height: 1.2rem;
}
.navbar #contact {
  text-decoration: none;
  color: black;
  text-align: center;
}
.navbar #contact:hover {
  text-decoration: underline;
}

.works {
  columns: 15rem 3;
  gap: 0.6rem;
  margin: 50px 130px;
}
.works img {
  width: 100%;
}
.portfolio > svg {
  display: none;
}

.bio {
  margin: 5vh 20vw;

  > div {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  }
  > div > h3 {
    font-size: 2rem;
  }
  > div > a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    margin-left: 1rem;
    text-decoration: none;
    color: rgba(22, 18, 18, 1);
  }
  > div > a:hover {
    color: rgb(21, 73, 152);
    text-decoration: underline;
  }
}

.contact-info {
  margin-left: 5vw;
  background: #f3f3f4;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  padding: 5%;
  > div:not(:last-child){
    font-size: 1.5rem;
  }
  > div {
    margin-bottom: 10px;
  }
  > div > div {
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
  }
}
.social {
  box-sizing: border-box;
  padding: 4vh 20vw;
  h2 {
    margin-bottom: .5em;
  }
}
.socials-container{
  margin-top: 8%;
  font-size: medium;
  display: flex;
  gap: 20px;
}
.socials-container a{
  background-color: white;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.socials-container a svg{
  height: 32px;
}
.socials-container a::before{
  pointer-events: none;
  content: attr(data-social);
  position: absolute;
  background-color: var(--accent-color);
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-30px) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.socials-container a:hover{
  background-color: var(--accent-color);
  fill: white;
}
.socials-container a::after{
  pointer-events: none;
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--accent-color);
  transform: translateY(0) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.socials-container a:hover::before{
  transform: translateY(-65px) rotate(0);
  opacity: 1;
}
.socials-container a:hover::after{
  transform: translateY(-42px) rotate(0);
  opacity: 1;
}


@media (max-width: 1000px) {
  .navbar {
    padding: 5px 30px;
  }
  .works {
    gap: 0.6rem;
    margin: 50px 100px;
  }
  .portfolio > button, .portfolio > box-icon {
    display: none;
  }
  .option > #contact {
    font-size: 2rem;
  }
  .portfolio > svg {
    display: inline;
  }
  .option {
    /* flex-direction:  row-reverse; */
    padding-right: 20vw;
  }
}
@media (max-width: 700px) {
  #gallery-list {
    left: 20%;
  }
  .option > #contact {
    font-size: 1rem;
  }
  .works {
    gap: 0.6rem;
    margin: 20px;
  }
  .works img {
    width: 100%;
  }
  .navbar p {
    font-size: 1.2rem;
  }
  .navbar {
    padding: 5px 10px;
  }
  .social {
    padding: 8px;
    >h2 {
      font-size: 2rem;
      text-align: center;
    }
  }
  .socials-container a {
    height: 44px;
    width: 44px;
    font-size: .8rem;
    svg {
      height: 22px;
    }
  }
  .socials-container a:hover::after{
    transform: translateY(-46px);
  }
  .contact-info {
    margin: 0;
  }
  .bio {
    margin: 10px;
    > div {
      font-size: 1.2rem;
    }
    > div > h3 {
      font-size: 1.5rem;
    }
    > div > a {
      font-size: 1rem;
      margin: 0;
    }
  }
}